
html, html>body {
	margin: 0px !important;
	padding: 0px !important;
	width: 100%;
	height: 100%;
}
body {
	font-family: "Helvetica Neue", Ubuntu, "WenQuanYi Micro Hei", Helvetica,"Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", "SimHei", "ST Heiti", "WenQuanYi Zen Hei Sharp", Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	line-height: 1.8em;
	background: #fff;
	text-align: center;
}
/*HEADER*/
h1,h2,h3,h4,h5,h6 {
	margin: 1em 0;
	font-weight: normal;
	line-height: 1.333em;
}
h1{font-size: 2.8rem;}
h2{font-size: 2.4rem;}
h3{font-size: 2rem;}
h4{font-size: 1.6rem;}
h5{font-size: 1.2rem;}
h6{font-size: 1rem;}
/*HEADER END*/
a {
	color: #000;
	cursor: pointer;
	text-decoration: none;
	outline:none;
	border:none;
}
a:hover {color: #4396cb;}
a, span, p>b, input, select, textarea, button, blockquote, .tr3 {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
button {
	cursor: pointer;
	border-width: 0;
	border-radius: 4px;
	background-color: #6dbff9;
}
button:hover {
	background-color: #4b9eea;
}
input, textarea, button {
	outline: none;
	-webkit-font-smoothing:antialiased;
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	appearance: none;
	box-sizing: border-box;
}
code, pre {
	font-family: "Consolas New", "Liberation Mono", Courier, monospace !important;
}
pre {
	line-height: 1.4rem;
	margin-bottom: 1.7rem;
}
code {
	border-radius: 4px;
}
pre>code {
	color: #058282;
	background-color: #E9ECF1;
	padding: 0.5em;
	display: block;
	overflow: hidden;
	overflow-x: auto;
}
p {
	margin: 1.8em 0;
}
p>code {
	color: #058282;
	background-color: #E9ECF1;
	padding: 0 0.2rem;
	border-radius: 2px;
	box-shadow: 0 0 0 2px #E9ECF1;
}
.list, .list li {
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.w100 {
	width: 100%;
}
.left {float: left;}
.right {float: right;}
.fz12 {
	font-size: 12px;
}
.fz2em {
	font-size: 2em;
}
.warn {
	box-shadow: inset 0 0 20px rgba(255, 0, 4, 0.3);
	border-color: #fc000a !important;
}
.cup {
	cursor: pointer;
}
.pof {
	position: fixed;
}
.por {
	position: relative;
}
.poa {
	position: absolute;
}
.dpn {
	display: none;
}
.center {
	text-align: center;
}
.centerbox {
	display: inline-block;
	text-align: left;
	width: 640px;
}
/* header */
header {
	/*border-bottom: 1px solid #ddd;*/
	height: 40px;
	line-height: 40px;
	margin-bottom: 2em;
	background-color: #eaeff4;
}
#Menu::before, #Menu::after {
	color: #aaa;
	position: absolute;
	content: "///";
	font-size: 10px;
	line-height: 1em;
}
#Menu::before {
	top: 5px;
	left: -18px;
}
#Menu::after {
	bottom: 5px;
	right: -18px;
}
#Menu a {
	color: #fff;
	display: block;
}
#Menu a:hover {
	color: #fff;
}
#Menu span {
	display: block;
}
#Menu>li {
	text-align: center;
	position: relative;
	line-height: 40px;
	height: 40px;
	color: #fff;
	background-color: #000;
	margin: 0 5px;
	width: 15%;
	float: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#Menu>li:first-child {
	margin-left: 0;
}
#Menu>li:last-child {
	margin-right: 0;
}
#Menu>li:hover {
	-webkit-transform: translate(-2px, 8px);
	-moz-transform: translate(-2px, 8px);
	-o-transform: translate(-2px, 8px);
	transform: translate(-2px, 8px);
}
#Menu>li::after, #Menu>li::before {
	content: "";
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border: 1px solid #000;
	border-width: 20px 5px;
}
#Menu>li::after {
	right: -10px;
	border-color: #000 transparent transparent #000;
}
#Menu>li::before {
	left: -10px;
	border-color: transparent #000 #000 transparent;
}
#logo h1, #logo h2 {
	color: #5AB0EE;
	margin: 0;
}
#Main .fa {
	font-size: 1.2em;
}
#Menu>#historyBn, #Menu>#infoBn {
	width: 26%;
}
#Menu>#historyBn {
	background-color: #a685e1 !important;
}
#historyBn::after {
	border-color: #a685e1 transparent transparent #a685e1 !important;
}
#historyBn::before {
	border-color: transparent #a685e1 #a685e1 transparent !important;
}
#infoBn {
	background-color: #7eccfa !important;
}
#infoBn::after {
	border-color: #7eccfa transparent transparent #7eccfa !important;
}
#infoBn::before {
	border-color: transparent #7eccfa #7eccfa transparent !important;
}
#Menu>#AudioBn, #Menu>#donatShow, #Menu>#QRBn, #Menu>#Issue {
	width: 10%;
}
#AudioBn {
	background-color: #98de24 !important;
}
#AudioBn::after {
	border-color: #98de24 transparent transparent #98de24 !important;
}
#AudioBn::before {
	border-color: transparent #98de24 #98de24 transparent !important;
}
#AudioBn>button {
	/*display: block;*/
	background-color: #98de24;
	border-width: 0;
	color: #fff;
	line-height: 40px;
	height: 39px;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
#AudioBn .volume-up i::before {
	content: "\f028";
}
#AudioBn .volume-off i::before {
	content: "\f026";
}
#AudioBn i {
	width: 1.2em;
	text-align: left;
	display: inline-block;
}
#donatShow {
	background-color: #f7d234 !important;
}
#donatShow::after {
	border-color: #f7d234 transparent transparent #f7d234 !important;
}
#donatShow::before {
	border-color: transparent #f7d234 #f7d234 transparent !important;
}
#QRBn {
	background-color: #FF6E60 !important;
}
#QRBn::after {
	border-color: #FF6E60 transparent transparent #FF6E60 !important;
}
#QRBn::before {
	border-color: transparent #FF6E60 #FF6E60 transparent !important;
}
#QRBn>img {
	right: 0;
	top: 40px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	overflow: hidden;
	border-radius: 4px;
	/*display: none;*/
	z-index: -1;
	opacity: 0;
}
#QRBn:hover>img {
	display: block;
	z-index: 10;
	opacity: 1;
}
/* header end */
.centerbox {
	display: inline-block;
	width: 640px;
}
#Main>.centerbox>* {
	margin: 20px 0;
}
#form, #Number {
	display: table;
}
#form>li, #Number>li {
	display: table-cell;
}
#form {
	line-height: 2em;
}
.number {
	font-family: "digifaw", "Helvetica Neue", Ubuntu, "WenQuanYi Micro Hei", Helvetica,"Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", "SimHei", "ST Heiti", "WenQuanYi Zen Hei Sharp", Arial, sans-serif;
	text-align: center;
}
#form input {
	font-family: "digifaw", sans-serif;
	width: 98%;
	height: 1.8em;
	font-size: 1.8em;
	border: 2px solid #aaa;
	padding: 0 0.2em;
	border-radius: 8px;
	text-align: center;
}
#button {
	padding: 10px;
	font-size: 1.8em;
	border-width: 0;
	border-radius: 8px;
	cursor: pointer;
	background-color: #5AB0EE;
	color: #fff;
}
#Number {
	border-radius: 8px;
	font-size: 4em;
	padding: 0.3em 0;
	height: 1em;
	line-height: 1em;
	background-color: #D5E0D9;
	color: #5E5A58;
	margin-bottom: 1em;
	text-shadow: 2px 3px 2px rgba(0,0,0,0.2);
	box-shadow: inset 2px 3px 5px rgba(0,0,0,0.1);
}
#Number>li {
	width: 12.5%;
	overflow: hidden;
}
#Result>li {
	font-size: 2em;
	line-height: 1.8em;
	text-align: left;
	border-bottom: 2px dotted #bbb;
	color: #bbb;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
#Result>li.hide {
	opacity: 0;
	display: none;
}
#Result>li>span {
	color: #000;
}

.popup {
	top: 0;
	left: 0;
	background-color: #fff;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}
.popup a {
	border-bottom: 1px dotted #4396cb;
	color: #4396cb;
}
.popup>* {
	max-width: 100%;
}
.popup>.centerbox {
	margin: 80px 0;
	/*height: 100%;*/
	overflow: hidden;
	overflow-y: auto;
}
.popup>.pof {
	top: 0;
	left: 0;
	height: 60px;
	line-height: 60px;
	background-color: #000;
	color: #fff;
}
.popup>.pof h3 {
	margin: 0;
	line-height: 60px;
}
.popup>.pof .poa {
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 24px;
	border-radius: 16px;
	background-color: rgba(255,255,255,0.9);
	right: 14px;
	top: 14px;
	color: #999;
}
.popup .poa:hover {
	color: #000;
}
.popup-tool {
	height: 20px;
	padding: 10px 0;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 1em;
}
.popup-tool button {
	font-size: 1.4em;
	color: #fff;
}
#HistoryBox .popup-tool button {
	background-color: #a685e1;
}
#HistoryBox .popup-tool button:hover {
	background-color: #7B59B3;
}
#HistoryList>li {
	float: left;
	width: 100%;
	padding-bottom: 2em;
	margin: 1em 0;
	border-bottom: 1px dotted #ddd;
}
#HistoryList>li>div {
	width: 100%;
	float: left;
}
#HistoryList>.center {
	color: #a685e1; 
	font-size: 3em; 
	margin: 2em 0;
	line-height: 1.8em;
}
#HistoryList>li>div:first-child {
	font-size: 12px;
}
#HistoryList>li>.number {
	text-align: left;
	font-size: 1.8em;
}
#HistoryBox>.pof {
	background-color: #a685e1;
}
#InfoBox>.pof {
	background-color: #7eccfa;
}
#DonateBox>.pof {
	background-color: #F7D234;
}
body>#Messages {
	top: 40px;
	left: 0;
	width: 100%;
	height: auto;
	line-height: 1.8em;
	padding: 0.2em 0;
	font-size: 1.8em;
	background: #fdcd29 no-repeat 8px center;
	color: #fff;
}
#MessagesText {
	display: inline-block;
	text-align: left;
	max-width: 96%;
}
#DonateBox {
	background-color: #fff;
	top: 0;
	left: 0;
	width: 94%;
	padding: 2em 3%;
}
#cnzz {
	width: 1px;
	height: 1px;
	overflow: hidden;
	line-height: 100em;
	position: absolute;
	bottom: 0;
	right: 0;
}
@media(max-width:640px) {
	header {
		background-color: #000;
	}
	#Menu::before, #Menu::after {
		content: none;
	}
	#Menu>li {
		margin: 0 4px;
		font-size: 1.2em;
	}
	#Menu>li:last-child::after {
		content: none;
	}
	#Menu>li:hover {
		-webkit-transform: translate(0px, 0px);
		-moz-transform: translate(0px, 0px);
		-o-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
	#historyBn, #infoBn {
		width: 26% !important;
	}
	#AudioBn, #donatShow, #Issue {
		width: 13% !important;
	}
	#QRBn {
		display: none !important;
	}
	.centerbox {
		width: 90%;
	}
	header>.centerbox {
		width: 100%;
	}
}
@media(max-width:568px) {
	#Messages {
		font-size: 1.4em;
	}
	#Result>li {
		border-bottom-width: 1px;
		font-size: 1.6em;
	}
}
@media(max-width:480px) {
	#logo h1, #logo h2 {
		font-size: 1.4em;
	}
	#Messages {
		font-size: 1em;
	}
	#form input {
		border-radius: 6px;
		width: 96%;
		font-size: 1.4em;
	}
	#Number {
		font-size: 2em;
	}
	#Result>li {
		border-bottom-width: 1px;
		font-size: 1em;
	}
}
@media(max-width: 320px){
	#historyBn, #infoBn {
		width: 25% !important;
	}
	#AudioBn, #donatShow, #Issue {
		width: 13% !important;
	}
}